@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*, *:before, *:after{
    box-sizing: border-box; /* width of elements includes padding */
    font-family: 'Source Sans Pro', sans-serif;
}

form, ul, h1, div .loading{
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: center;
}

h1{
    margin-top: 60px;
}

div .loading{
    margin-top: 60px;
    height: 60px;
    border-radius: 10px;
    animation: loader 3s infinite ease-in-out;
    -webkit-animation: loader 3s infinite ease-in-out;
}

@keyframes loader{
    0% {
        background-color: rgba(240, 244, 245, 0.3);
    }
    50%{
        background-color: rgb(240, 244, 255, 1);
    }
    100%{
        background-color: rgba(240, 244, 245, 0.4);
    }
}

@-webkit-keyframes loader{
    0%{
        background-color: rgba(240, 244, 245, 0.3);
    }
    50%{
        background-color: rgb(240, 244, 255, 1);
    }
}

label{
    margin: auto;
}

input{
    padding: 10px;
    width: 80%;
    border: 0;
    border-bottom: 2px solid rgb(184, 184, 184);
    font-size: 24px;
}

input:focus{
    outline: none !important;
    background-color: aliceblue;
}

input:hover{
    background-color: aliceblue;
}


ul{
    list-style-type: none;

}

.item{
    margin: 10px auto;
    padding: 5px;
    width: 80%;
    font-size: 24px;
}

.item:hover{
    background-color: aliceblue;
}

.item *{
    display: inline-block;
}

.item .itemText{
    width: 80%;
    text-align: left;
}

.item .options{
    text-align: right;
    width: 20%;
}

.item button{
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.item .edit{
    margin-right: 15px;
}

.item .delete{
    
}

